.mobile {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15rem;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.mobile__inner {
  position: absolute;
  top: 0;
  left: 1;
  padding: 4rem 2.4rem;
  border-radius: 1.2rem;
  background: var(--darkViolet);
  width: 90%;
}

.mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.2rem;
  padding: 2.4rem 0;
}

.mobile__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.2rem;
  padding: 2.4rem 0;
  border-top: 1px solid var(--grayishViolet);
}
