/* Variables */
/*OSU theme colors*/
/* Componenets of the site */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 12pt; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

/*OSU theme colors*/
nav {
  grid-area: nav;
  background: #c34500;
  width: 100vw; }
  nav p, nav a {
    color: white;
    font-family: "Gudea", sans-serif;
    line-height: 50px; }
  nav p {
    margin: 0;
    padding: 0 15px;
    font-size: 15pt;
    background: black; }
  nav a {
    text-decoration: none;
    transition: .5s;
    padding: 0 20px;
    text-align: center;
    font-size: 14pt; }
    nav a:hover {
      transition: .5s;
      background: #385e86; }
  nav .links {
    display: flex; }
  nav #selectedTab {
    transition: 0s;
    background: #373737;
    cursor: default; }
  @media screen and (min-width: 680px) {
    nav {
      display: flex; } }
  @media screen and (max-width: 680px) {
    nav p {
      text-align: center; }
    nav .links {
      justify-content: center; } }

.content {
  width: 95vw;
  margin: auto;
  padding: 10px 0;
  font-family: "Gudea", sans-serif; }
  .content h1, .content h2 {
    text-align: center;
    padding: 20px 0 5px 0; }
  .content h4 {
    padding: 15px 0 5px 0; }
  .content p {
    line-height: 1.4; }
  .content b {
    font-weight: 600; }
