/*  
 *  Author: Joseph Noonan
 *  Date: 8/9/19
 */

 header {
    display: block;
    background-color: chocolate;
    position: absolute;
    left: 0px;
    top: 0px;
    width : 100%;
    height: 200px;
 }

#site-title {
    color: white;
    font-size: 50px;
    border: 10px black;

    margin: 5px;
 }

 #site-title img {
    padding: 5px;
 }

#meeting-info {
    text-align: center;
 }

#nav-bar ul {
    list-style-type: none;
    display: inline;
    overflow: hidden;
 }

a {
    display: block;
    text-decoration: none;
    color: white;
}

#left {
    float: left;
 }

#right {
    float: right;
 }