/*
 *Author: Joseph Noonan
 *Date: 9/10/19
 */

#contents {
    position: relative;
    top: 200px;
    display: inline-block;
    
    width: 100%;

    font-weight: bold;
}

#newToClub {
    margin-right: 30px;
    height: 55px;
    width: 100%;
    box-sizing: border-box;

    text-align: center;

    border: 2px black solid;
    border-radius: 10px;
    background-color: chocolate;
}

#newToClub a {
    display: inline;
    text-decoration: underline;
}

.events {
    display: block;
    width: 49%;
    margin-top: 10px;

    float: left;
}

.event {
    padding-left: 10px;
    margin-bottom: 10px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: chocolate;
}

#calendar {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    float: right;


    border: 2px solid black;
}