---
import "../styles/global.css";

// Components
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/acmlogo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Blog - ACM @ OSU</title>
  </head>
  <body>
    <main>
      <div style={{ display: "flex", flexDirection: "column", alignItems: "center", justifyContent: "center", height: "100vh" }}>
        <h2 style={{ textAlign: "center" }}>Our Blog is Coming Soon!</h2>
        <a href="/" style={{ textDecoration: "none", color: "#fc4405", marginTop: "1rem" }}>Go Back</a>
        </div>
    </main>
  </body>
</html>
