.header {
  padding: 5.6rem 0;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4.8rem;
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* column-gap: 1.2rem; */
}

.header__btns {
  display: flex;
  column-gap: 3.2rem;
}

.header__mobile-btn {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .header__nav,
  .header__btns {
    display: none;
  }

  .header__mobile-btn {
    display: inline-block;
  }
}
