.features {
  /* background: var(--background); */
  padding: 10rem 0 16rem 0;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  align-items: center;
  text-align: center;
}

.features-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 7.2rem;
}

.features-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.8rem;
  background: var(--cyan);
  top: 50%;
  transform: translateY(-50%);
}

.feature-list__item {
  padding: 0rem 3.2rem 4rem 3.2rem;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 999;
  border: 1px solid Darkorange;
}

.feature-list__item:nth-child(2) {
  transform: translateY(15%);
}

.feature-list__item:nth-child(3) {
  transform: translateY(30%);
}

.feature-list__item div {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darkViolet);
  transform: translateY(-50%);
}

@media only screen and (max-width: 56.25em) {
  .features-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 9rem;
    margin-top: 9rem;
  }

  .features-list::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 100%;
    background: var(--cyan);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .feature-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature-list__item:nth-child(2) {
    transform: translateY(0);
  }

  .feature-list__item:nth-child(3) {
    transform: translateY(0);
  }
}
