.footer {
  z-index: 100;
  opacity: 1 !important;
  padding: 5.6rem 0;
  background: var(--veryDarkViolet) !important;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5.6rem;
}

.footer__nav-section,
.footer__nav-section div {
  display: flex;
  flex-direction: column;
}

.footer__nav-section div {
  row-gap: 1.2rem;
}

.footer__social {
  display: flex;
  align-items: center;
  column-gap: 2.4rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5.6rem;
  }

  .footer__nav {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5.6rem;
    text-align: center;
  }
}
